@model EntityAssignment2.Models.Course

<form asp-action="Create" method="post">
    <div>
        <label asp-for="Title"></label>
        <input asp-for="Title" />
        <span asp-validation-for="Title"></span>
    </div>

    <div>
        <label asp-for="Credits"></label>
        <input asp-for="Credits" />
        <span asp-validation-for="Credits"></span>
    </div>

    <button type="submit">Save</button>
</form>