@model IEnumerable<EntityAssignment2.Models.Course>

<h2>Courses</h2>

@foreach (var course in Model)
{
    <h3>@course.Title</h3>
    <ul>
        @foreach (var enroll in course.Enrollments)
        {
            <li>@enroll.Student?.Name - Grade: @enroll.Grade</li>
        }
    </ul>
}