body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background: #222;
    color: white;
    padding: 15px;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

main {
    display: flex;
}

.sidebar {
    width: 20%;
    padding: 20px;
    background: #f4f4f4;
}

input[type="checkbox"] {
    margin-right: 8px;
}

.product-grid {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.product-card {
    width: 200px;              /* Fixed Width */
    border: 1px solid #ccc;    /* Border */
    padding: 15px;             /* Padding */
    margin: 15px;              /* Margin */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: center;
    transition: 0.3s;
}

.product-card img {
    width: 100%;
}

.product-card:nth-child(even) {
    background-color: #f9f9f9;
}

.product-card:hover {
    transform: scale(1.05);
}

.product-card button {
    padding: 8px 15px;
    border: none;
    background-color: #222;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}

.product-card button:hover {
    background-color: #555;
}

#cart {
    width: 20%;
    padding: 20px;
    background: #f4f4f4;
}

footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 15px;
}
