@model IEnumerable<EntityAssignment2.Models.Student>

<h2>Students</h2>

@foreach (var student in Model)
{
    <h3>@student.Name (@student.Email)</h3>
    <ul>
        @foreach (var enroll in student.Enrollments)
        {
            <li>@enroll.Course?.Title - Grade: @enroll.Grade</li>
        }
    </ul>
}